<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
</head>
<body>
  <h1>Songify</h1>
  <form action="/albums/:id" method="post">
    <h3>Add Song</h3>
    <div>
      <label for="songName">Name:</label>
      <input id="songName" type="text" name="songName">
    </div>
    <div>
      <label for="songLink">Youtube Link:</label>
      <input id="songLink" type="text" name="songLink">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>

  <br>
  <div>
    <h3>All Songs</h3>
    <ul>
      <% @songs.each do |song| %>
        <li>
          <span><%= song.name %></span> || 
          <span><%= song.youtube_link %></span>
        </li>
      <% end %>
    </ul>
  </div>
</body>
</html>