<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
</head>
<body>
  <h1>Songify</h1>
  <form action="/albums" method="post">
    <h3>Add Album</h3>
    <div>
      <label for="albumTitle">Title:</label>
      <input id="albumTitle" type="text" name="albumTitle">
    </div>
    <div>
      <label for="albumImage">Image:</label>
      <input id="albumImage" type="text" name="albumImage">
    </div>
    <div>
      <label for="albumYear">Year Released:</label>
      <input id="albumYear" type="text" name="albumYear">
    </div>
    <div>
      <label for="albumGenre">Genre:</label>
      <select name="albumGenre" id="albumGenre">
        <option value="N/A">N/A</option>
        <option value="Rap">Rap</option>
        <option value="Rock">Rock</option>
        <option value="EDM">EDM</option>
        <option value="Country">Country</option>
        <option value="Jazz">Jazz</option>
        <option value="Classical">Classical</option>
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>

  <br>
  <div>
    <h3>All Albums</h3>
    <ul>
      <% @albums.each do |album| %>
        <li>
          <span><%= album.title %></span> || 
          <span><%= album.year %></span> || 
          <span><%= album.genre %></span> || 
          <span><%= album.image_link %></span> 
        </li>
      <% end %>
    </ul>
  </div>
</body>
</html>
