<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
</head>
<body>
  <h1>Songify</h1>
  <form action="/playlists" method="post">
    <h3>Add Playlist</h3>
    <div>
      <label for="playlistName">Name:</label>
      <input id="playlistName" type="text" name="playlistName">
    </div>
    <div>
      <label for="playlistDesc">Description:</label>
      <input id="playlistDesc" type="text" name="playlistDesc">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  <h3>Playlists</h3>
  <div>
    <ul>
      <% @playlists.each do |playlist| %>
        <a href="/playlists/<%= playlist.id %>">
          <li>
            <span><%= playlist.name %></span> (<span><%= playlist.description %></span>)
          </li>
        </a>
      <% end %>
    </ul>
  </div>
</body>
</html>
